.search {
    height: 46px;
    align-items: center;
    display: flex;
    width: 360px;
    border-radius: 40px;
    position: relative;
    border: 0.2px solid #fff;

    input {
        flex-grow: 1;
        height: 100%;
        border-top-left-radius: 42px;
        border-bottom-left-radius: 42px;

        background-color: #f1f1f2;
        font-size: 1.6rem;
        font-weight: 400;
        border: none;
        padding: 0 14px;
        caret-color: rgba(254, 44, 85, 1);
        outline: none;
    }

    button {
        height: 100%;
        border-top-right-radius: 42px;
        border-bottom-right-radius: 42px;
        background-color: #f1f1f2;
        width: 52px;
        border: none;
        padding-top: 8px;
        cursor: pointer;

        &:hover {
            background-color: #e3e3e4;
        }

        &:active {
            background-color: #d7d7da;
        }
    }

    >div:nth-child(3) {
        border-left: 1px #d7d7d9 solid;
        height: 26px;
        position: absolute;
        right: 52px;
    }
}

.searchDark {
    height: 46px;
    align-items: center;
    display: flex;
    width: 360px;
    border-radius: 40px;
    position: relative;
    border: 0.2px solid #121212;

    input {
        flex-grow: 1;
        height: 100%;
        border-top-left-radius: 42px;
        border-bottom-left-radius: 42px;
        background: rgba(255, 255, 255, 0.12);
        font-size: 1.6rem;
        font-weight: 400;
        border: none;
        padding: 0 14px;
        caret-color: rgba(254, 44, 85, 1);
        color: #fff;
        outline: none;
    }

    button {
        height: 100%;
        border-top-right-radius: 42px;
        border-bottom-right-radius: 42px;
        background-color: #f1f1f2;
        width: 52px;
        border: none;
        padding-top: 8px;
        background: rgba(255, 255, 255, 0.12);
        cursor: pointer;

        &:hover {
            background-color: #373737;
        }

        &:active {
            background-color: #3f3f3f;
        }
    }

    >div:nth-child(3) {
        border-left: 1px #484848 solid;
        height: 26px;
        position: absolute;
        right: 52px;
    }
}

.RiCloseFill {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background-color: #a7a7ab;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    right: 64px;
}

.RiCloseFillDark {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background-color: #8a8a8b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 64px;
    color: rgba($color: #000000, $alpha: 0.6)
}

.BiLoaderAlt {
    position: absolute;
    right: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a7a7ab;
    animation: load linear 0.7s infinite;
}

.users {
    width: 360px;
    box-shadow: 0px 1px 4px 0px #d7d7da;
    background-color: #fff;
    border-radius: 8px;

    >h4 {
        color: rgb(163, 161, 161);
        padding: 8px 12px;
        font-weight: 500;
    }

    >ul {
        list-style: none;

        >li {
            cursor: pointer;

            >a {
                display: flex;
                padding: 10px 18px;

                &:hover {
                    background-color: #f5f5f9;
                }
            }
        }
    }

    >p {
        padding: 14px 14px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            background-color: #f5f5f9;
        }
    }
}

.usersDark {
    width: 360px;
    background-color: #292828;
    border-radius: 8px;

    >h4 {
        color: rgba($color: #fff, $alpha: 0.75);
        padding: 8px 12px;
        font-weight: 500;
    }

    >ul {
        list-style: none;

        >li {
            cursor: pointer;

            >a {
                display: flex;
                padding: 10px 18px;
                color: #fff;


                &:hover {
                    background-color: rgba($color: #1b1b1b, $alpha: 0.5);
                }
            }
        }
    }

    >p {
        padding: 14px 14px;
        font-weight: 500;
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: rgba($color: #1b1b1b, $alpha: 0.5);
        }
    }
}

.avatar {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.infoUser {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 12px;

    >p {
        font-weight: 300;
        opacity: 0.5;
    }

    >h4 {
        display: flex;
    }
}

.wrapIcon {
    margin-left: 10px;
}

@keyframes load {
    to {
        rotate: 360deg;
    }
}